$color-primary: rgb(0, 0, 102);
$color-secondary: #6e0d2e;
$border-buttons: #44081c;
$color-landing: #f6f4f6;
$color-orange: #f0821b;
$color-background: #ffffff;
$color-text: #000;
$color-grey: #c0c0c0;
$color-greystrong: #969696;
$color-landinglow: rgba(246, 244, 246, 0.3);

:root {
  --color-primary: rgb(0, 0, 102);
  --color-secondary: #6e0d2e;
  --border-buttons: #44081c;
  --color-landing: #f6f4f6;
  --color-orange: #f0821b;
  --color-background: #ffffff;
  --color-text: #000;
  --color-grey: #c0c0c0;
  --color-greystrong: #969696;
  --color-landinglow: rgba(246, 244, 246, 0.3);
}
